* {
    margin: 0;
    background-color: #0B0B45;
    font-family: sans-serif;
}

.nav-bar {
    margin: 0;
    height: 50px;
    display: flex;
    align-items:center;
    justify-content: left;
    background-color: grey;
    flex: 1;
}

.nav-bar a {
    background-color: grey;
    padding: 10px;
    object-fit: contain;
    color:black;
    text-decoration: none;
    cursor: auto;
}

.nav-bar a:hover {
    cursor: pointer;
    font-weight: bolder;
    color: rgb(0, 38, 255);
}

.welcome-text {
    margin-top: 35vh;
    margin-left: 10vw;
    margin-right: 10vw;
    color: white;
}

.welcome-text h1 {
    margin: 15px;
}

.welcome-text img {
    margin-top: 25px;
}

.sa-header {
    color: white;
    text-align: center;
    margin: 25px;
    font-size: x-large;
}

.sa-options {
    display: flex;
    flex-direction: column;
}

.sa-options > div {
    padding: 50px;
    color: white;
    margin-left: 20vw;
    margin-right: 20vw;
}

.sa-options > div > h2 {
    text-decoration: underline;
    padding-bottom: 10px;
}

.sa-options > div > h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    color: yellow;
}

.sa-options > div > ul {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sa-options > div > ul > li {
    margin-top: 5px;
    margin-bottom: 5px;
}

.rules-header {
    color: white;
    text-align: center;
    margin: 25px;
    font-size: x-large;
}

.rules-options {
    display: flex;
    flex-direction: column;
}

.rules-options > div {
    padding: 50px;
    color: white;
    margin-left: 20vw;
    margin-right: 20vw;
}

.rules-options > div > h2 {
    text-decoration: underline;
    padding-bottom: 10px;
}
.rules-options > div > h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    color: yellow;
}
